form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form div {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

form div > * {
  width: 100%;
  margin-bottom: 0.4rem;
}

.content-title {
  justify-content: center;
  margin: 1rem;
  font-size: 20px;
}
